<div class="column is-one-third main-sidebar">
  <div class="sidebar-content" id="sidebar">

    <aside class="widget-wrap index-categories-list">
      <h4 class="widget-title categories-list-label">文章分类</h4>
      <div class="widget">
        <ul class="category-list">
          <% site.categories.sort('name').each(function(item){ %>
          <li class="category-list-item">
            <a href="<%- config.root %><%- item.path %>"><%- item.name %></a>
          </li>
          <%}) %>
        </ul>

      </div>
    </aside>

    <aside class="widget-wrap index-categories-list">
      <h4 class="widget-title categories-list-label">文章归档</h4>
      <div class="widget">
        <%- list_archives({
          show_count: false,
          format: 'YYYY年M月'
        }) %>
      </div>

    </aside>

    <aside class="widget-wrap">
      <h4 class="widget-title">关于</h4>
      <div class="widget">
        一共写了<%- site.categories.length %>个分类，<%- site.posts.length %>篇文章
      </div>
    </aside>

  </div>
</div>
