<!DOCTYPE html>
<html lang="zh-CN">

<%- partial('partial/head') %>

<body>

<%- partial('partial/header') %>

<main class="content">
    <div class="container">
        <div class="columns">
            <%- body %>
        </div>
    </div>
</main>

<%- partial('partial/footer') %>

<a href="#top" class="back-to-top">^</a>

<%- js('js/jquery-3.2.1.min.js') %>
<%- js('js/scrollspy.js') %>
<%- js('js/TOC.js') %>

<script>
  $(document).ready(() => {
    $(".navbar-burger"
    ).click(() => {
      $(".navbar-menu"
      ).toggle();
    })
  })
</script>
</body>

</html>
