<!DOCTYPE html>
<html lang="zh-CN">

<%- partial('partial/head') %>

<body>

<%- partial('partial/header') %>

<main class="content">
    <div class="container">
        <div class="columns">

            <%- body %>

        </div>
    </div>
</main>

<%- partial('partial/footer') %>

<a id="back-to-top">^</a>

<%- js('js/jquery-3.2.1.min.js') %>
<%- js('js/scrollspy.js') %>
<%- js('js/main.js') %>
<%- js('js/post.js') %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112754683-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112754683-1');
</script>
</body>

</html>
